/* ---------------------Css for the Navbar and the SideBar---------------------------  */
* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.navbar {
    overflow: hidden;
    height: 63px;
    z-index: 1;
}
.navbar a {
    float: right;
    display: block;
    color: azure;
    text-align: right;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 1.0em;
    
}
.navbar-nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: right;
    right: 0;
    top: 6%;
    margin-top: -2.5em;
    padding-right: 15%;
}
.navbar a:hover {
    background-color: #06C895;
    color: black;
    border-radius: 10px 10px 10px 10px;
}
#side-menu {
    padding: 0;
}
.side-nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0%;
    right: 0%;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side-nav a {
    padding: 30px 10px 10px 10px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transform: 0.3s;
}
.side-nav a:hover {
    color: #06C895;
}
.side-nav .btn-close {
    position: relative;
    top: 0;
    left: 22px;
    font-size: 36px;
    margin-right: 50px;
}
/*Icons */
/* .up-icon {
	right: 20px;
	position: fixed; 
    bottom: 0;
    font-size: 3em;
} */

/*Position:fixed pour sortir l'élément  du flux, on peut placer l'élément la ou on souhaite sur le plan vert et hori par rapport au bord de la fenetre*/
.down-icon {
    position: absolute;
    bottom: -38px;
    font-size: 1.5em;
}

 /* Hero-Section */
 /* header  */
 .content {
     /* position: absolute; */
     width: 45%;
 }
 header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    background: linear-gradient(90deg, rgba(111, 101, 250, 0.699) 22%, rgba(114, 104, 249, 0.815) 37%, rgba(72, 66, 255, 0.863) 62%);
    width: 100%; 
}
.navbar-nav, .side-nav, .content {
    z-index: 1;
}
 .hero-section {
     position: relative;
     top: 0;
    background-image: url("../media/Webp.net-resizeimage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 94.7vh;
    width: 100%;
 }
 
 #showcase {
    display: flex;
    flex-direction: column;
    justify-content: bottom; 
    align-items: center;
    padding-top: 11.9em;
    
}
/* Stylish */
#showcase h1 {
    font-size: 2em;
    color: azure;
    line-height: 1.6;
    text-align: center;
    padding: 2em 0 1.2em 0;
    margin: 0;
}
#showcase p {
    text-align: center;
    font-size: 0.9em;
    color: azure;
    padding: 0.5em 1em 3em 0;
    text-align: right;
}
#showcase .button {
    display: block;
    font-size: 1em;
    text-decoration: none;
    color: azure;
    background: #06C895;
    width: 20%;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#showcase .button:hover {
    background: rgb(2, 170, 125);
    /* color: black; */
    /* box-shadow: 0 10px 80px #F7F7F7; */
}
.content q {
    text-align: center;
    line-height: 1.7em;
    font-size: 1em;
    color: azure;
    padding-bottom: 2em;
    margin: 0 5em 0 2em;
}
.button {
    padding: 2em;
}


/* -----------------------Main stylish------------------------- */
#main {
    margin-top: 30px;
    text-align: center;
    transition: margin-right 0.5s;
    /* padding: 20px; */
    overflow: hidden;
    /* width: 100%; */
}
#services, #work, #about, #contact {
    height: 100vh;
}
#work {
    background-color: #F7F7F7;
}
#contact {
    background-color: #4E49FD;
}
#bottom {
    height: 100vh;
    background-color: #333C44;
}
@media (max-width: 568px) {
    .navbar-nav { display: none;}
    .content {
        width: 90%;
        /* padding: 0px 0 590px 0; */
    }
        
    .open-slide a {
        position: fixed;
        right: 0;
        background-color: #06C895;
        margin: 1em;
        z-index: 1;
        }
    .hero-section {
        position: relative;
        top: 0;
        background-image: url("../media/Webp.net-resizeimage2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 94.7vh;
        width: 100%;
        }
    .navbar-nav, .side-nav {
        z-index: 2;
    }

    #showcase h1 {
        font-size: 2em;
        color: azure;
        line-height: 1.6em;
        text-align: center;
        padding: 0em 0 2em 0;
        margin: 0;
    }
    #showcase .button {
        display: block;
        font-size: 1.3em;
        text-decoration: none;
        color: azure;
        background: #06C895;
        width: 50%;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        margin: 0px auto 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content q {
        line-height: 1.3em;
        font-size: 1.3em;
        color: azure;
        padding-bottom: 2em;
        margin: 0 5em 0 2em;
    }


}

@media (min-width: 568px) {
    .open-slide { display: none;}
}