/* ---------------------Css for the Navbar and the SideBar---------------------------  */
* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.navbar {
    overflow: hidden;
    height: 63px;
}
.navbar a {
    float: right;
    display: block;
    color: #1b1111;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar ul {
    margin: 8px 15px 0 8px;
}
.navbar a:hover {
    background-color: #06C895;
    color: black;
    border-radius: 10px 10px 10px 10px;
}
.side-nav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0%;
    right: 0%;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.side-nav a {
    padding: 30px 10px 10px 10px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transform: 0.3s;
}
.side-nav a:hover {
    color: #06C895;
}
.side-nav .btn-close {
    position: absolute;
    top: 0;
    left: 22px;
    font-size: 36px;
    margin-right: 50px;
}
/* Up-Icon */
.up-icon {
	right: 20px;
	position: fixed; /*Pour sortir l'élément du flux, on peut placer l'élément la ou on souhaite sur le plan vert et hori par rapport au bord de la fenetre*/
    bottom: 0;
    font-size: 3em;
}
 /* Hero-Section */
 /* header  */
 .content {
     position: absolute;
     width: 50%;
 }
 .hero-section::after {
     content: '';
    background-image: url("../media/Webp.net-resizeimage3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 100vh;
    width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
 }
 .content {
    /* background-position: bottom; */

    /* background-color: #4E49FD; */
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;   
}
/* Stylish */
#showcase h1 {
    font-size: 2em;
    color: azure;
    line-height: 1.2;
}
#showcase p {
    text-align: center;
    font-size: 0.7em;
    color: azure;
    padding: 1em 2em 3em 0;
    text-align: right;
}
#showcase .button {
    font-size: 1em;
    text-decoration: none;
    color: azure;
    background: #06C895;
    /* border: azure 1px solid; */
    padding: 8px 30px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}
#showcase .button:hover {
    background: rgb(2, 170, 125);
    /* color: black; */
    /* box-shadow: 0 10px 80px #F7F7F7; */
}
/* #showcase img {
    height: auto;
    width: 25%;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    -webkit-box-shadow: 6px 3px 51px 5px rgba(191,200,235,1);
    -moz-box-shadow: 6px 3px 51px 5px rgba(191,200,235,1);
    box-shadow: 6px 3px 51px 5px rgba(191,200,235,1);
} */
q {
    text-align: center;
    font-size: 1em;
    color: azure;
    padding-bottom: 2em;
    margin: 0 2em 0 2em;
}
.button {
    padding: 2em;
}
/* .content {
    background-image: url(../media/welcome-cover.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
} */
/* -----------------------Main stylish------------------------- */
#main {
    margin-top: 30px;
    text-align: center;
    transition: margin-right 0.5s;
    /* padding: 20px; */
    overflow: hidden;
    /* width: 100%; */
}
#services, #work, #about, #contact {
    height: 100vh;
}
#work {
    background-color: #F7F7F7;
}
#contact {
    background-color: #4E49FD;
}
#bottom {
    height: 100vh;
    background-color: #333C44;
}
@media (max-width: 568px) {
    .navbar-nav { display: none;}
    #showcase h1 {
        font-size: 1.3em;
        color: azure;
        line-height: 1.2;
    }
        .content {
            width: 100%;}
        q {
            text-align: center;
            font-size: 0.8em;
            color: azure;
            padding-bottom: 2em;
            margin: 0 2em 0 2em;
            }
        #showcase p {
            text-align: center;
            font-size: 0.5em;
            color: azure;
            padding: 1em 2em 5em 0;
            text-align: right;
            }
        /* #showcase img {
            height: auto;
            width: 20%;
            border-radius: 200px 200px 200px 200px;
            -moz-border-radius: 200px 200px 200px 200px;
            -webkit-border-radius: 200px 200px 200px 200px;
            border: 0px solid #000000;
            -webkit-box-shadow: 6px 3px 51px 5px rgba(191,200,235,1);
            -moz-box-shadow: 6px 3px 51px 5px rgba(191,200,235,1);
           box-shadow: 6px 3px 51px 5px rgba(191,200,235,1);
            } */
        #showcase .button {
            font-size: 0.9em;
            text-decoration: none;
            color: azure;
            background: #06C895;
            /* border: azure 1px solid; */
            padding: 8px 30px;
            border-radius: 10px 10px 10px 10px;
            margin-top: 10px;
            }
}

@media (min-width: 568px) {
    .open-slide { display: none;}
}